In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout
from sklearn.preprocessing import StandardScaler

X_train = np.load('/kaggle/input/intent-detection/X_train.npy')
X_test = np.load('/kaggle/input/intent-detection/X_test.npy')
Y_train = pd.read_csv('/kaggle/input/intent-detection/y_train.csv').Predicted.to_numpy()

FileNotFoundError: [Errno 2] No such file or directory: '/kaggle/input/intent-detection/X_train.npy'

In [36]:
X_train.shape
#768 features

(1663, 768)

In [37]:
Y_train.shape
#1663 labels

(1663,)

In [38]:
X_test.shape

(713, 768)

In [34]:
feat_col = [f'feat{i}' for i in range(X_test.shape[1])]
X_train_df = pd.DataFrame(X_train, columns = feat_col)
Y_train_df = pd.DataFrame(Y_train,columns = ["Target"])
XY_train_df = pd.concat([X_train_df, Y_train_df],axis = 1)
X_test_df = pd.DataFrame(X_test, columns=feat_col)

In [19]:
XY_train_df.head()

,feat0,feat1,feat2,feat3,feat4,feat5,feat6,feat7,feat8,feat9,...,feat759,feat760,feat761,feat762,feat763,feat764,feat765,feat766,feat767,Target
0,-0.064713,0.020554,-0.069173,-0.028174,-0.063835,-0.054158,-0.056317,0.001036,-0.038301,-0.027957,...,-0.049167,-0.019388,-0.045488,-0.051312,-0.022920,-0.034919,-0.020073,-0.052884,0.023714,8
1,-0.006381,0.007817,-0.022947,0.039866,-0.052437,0.011669,-0.051878,-0.026330,0.040994,-0.052231,...,0.014502,0.007691,-0.025002,-0.004711,0.003568,-0.010177,-0.066476,-0.012160,0.017803,44
2,0.003579,-0.009228,-0.062796,0.021353,-0.067594,-0.019499,0.029121,-0.013298,0.009264,-0.037961,...,0.038328,-0.005684,-0.033541,0.020269,-0.022111,-0.066562,0.012762,0.018555,0.002605,11
3,-0.043724,-0.011425,-0.051950,0.014659,-0.046709,-0.002156,-0.033904,0.004498,0.044775,-0.030488,...,-0.036184,-0.055876,0.012600,-0.016588,0.053944,-0.066483,-0.008629,-0.001444,0.025507,24
4,-0.019088,0.067039,-0.032487,-0.037979,0.014185,-0.007818,-0.059850,0.012668,-0.032715,0.009354,...,-0.065700,-0.043206,0.047978,-0.050414,0.024116,-0.046814,-0.002983,0.050728,0.038645,5

In [5]:
Y_train_df.head()

    y
0   8
1  44
2  11
3  24
4   5

In [47]:
X_train_df.head()

,feat0,feat1,feat2,feat3,feat4,feat5,feat6,feat7,feat8,feat9,...,feat758,feat759,feat760,feat761,feat762,feat763,feat764,feat765,feat766,feat767
0,-0.064713,0.020554,-0.069173,-0.028174,-0.063835,-0.054158,-0.056317,0.001036,-0.038301,-0.027957,...,0.042405,-0.049167,-0.019388,-0.045488,-0.051312,-0.022920,-0.034919,-0.020073,-0.052884,0.023714
1,-0.006381,0.007817,-0.022947,0.039866,-0.052437,0.011669,-0.051878,-0.026330,0.040994,-0.052231,...,0.059453,0.014502,0.007691,-0.025002,-0.004711,0.003568,-0.010177,-0.066476,-0.012160,0.017803
2,0.003579,-0.009228,-0.062796,0.021353,-0.067594,-0.019499,0.029121,-0.013298,0.009264,-0.037961,...,-0.041462,0.038328,-0.005684,-0.033541,0.020269,-0.022111,-0.066562,0.012762,0.018555,0.002605
3,-0.043724,-0.011425,-0.051950,0.014659,-0.046709,-0.002156,-0.033904,0.004498,0.044775,-0.030488,...,-0.007816,-0.036184,-0.055876,0.012600,-0.016588,0.053944,-0.066483,-0.008629,-0.001444,0.025507
4,-0.019088,0.067039,-0.032487,-0.037979,0.014185,-0.007818,-0.059850,0.012668,-0.032715,0.009354,...,0.038573,-0.065700,-0.043206,0.047978,-0.050414,0.024116,-0.046814,-0.002983,0.050728,0.038645

In [46]:
X_test_df.head()

,feat0,feat1,feat2,feat3,feat4,feat5,feat6,feat7,feat8,feat9,...,feat758,feat759,feat760,feat761,feat762,feat763,feat764,feat765,feat766,feat767
0,-0.028341,-0.013976,0.027482,0.018902,-0.061030,-0.010846,-0.036913,-0.034498,0.058866,-0.014550,...,0.060303,-0.033084,-0.039746,0.038668,-0.024701,0.000322,-0.077359,0.024810,-0.036909,0.045314
1,-0.014473,-0.037281,0.017812,0.027492,0.020230,-0.009877,-0.054037,0.025131,0.029863,-0.029646,...,-0.002850,-0.043410,-0.012185,-0.049657,-0.005346,-0.014185,0.005000,-0.007676,0.025819,0.036317
2,-0.022636,-0.001754,-0.009812,-0.030182,-0.061902,0.032183,-0.079847,-0.030968,0.012289,0.009093,...,-0.032143,0.016097,-0.052526,0.046948,-0.007215,0.029919,-0.027418,-0.051822,0.014895,-0.043391
3,-0.040850,-0.023058,-0.033664,0.016514,-0.075332,-0.065355,-0.057857,0.007287,-0.013866,-0.010538,...,-0.054553,0.036248,-0.065568,0.011958,0.034914,-0.029956,-0.060300,-0.025076,0.040312,0.006233
4,0.005932,-0.038425,0.048765,0.021749,-0.065592,-0.034451,0.007840,-0.012663,0.003260,-0.010410,...,-0.029770,-0.043370,-0.063726,-0.004431,-0.012578,-0.062581,-0.068841,-0.040079,-0.040869,-0.014907

In [6]:
import umap
import matplotlib.pyplot as plt

In [7]:
reducer = umap.UMAP
embedding = reducer.fit_transform(XY_train_df.iloc[:,:-1])
#https://umap-learn.readthedocs.io/en/latest/parameters.html

plt.scatter(
    embedding[:, 0],
    embedding[:, 1],
    c= XY_train_df.iloc[:,-1],
    cmap = 'Spectral', s= 15
)
plt.gca().set_aspect('equal', 'datalim')
plt.title('UMAP projection of XY_train_df', fontsize=24);
plt.colorbar(boundaries=np.arange(45)-0.5).set_ticks(np.arange(44))

NameError: name 'XY_train_df' is not defined

In [5]:
for n in (2, 5, 10, 20, 50, 100, 200):
    draw_umap(n_neighbors=n, title='n_neighbors = {}'.format(n))

NameError: name 'draw_umap' is not defined

In [11]:
missing_data = XY_train_df.isnull()
for col in missing_data.columns.values.tolist():
    sum = missing_data[[col]].astype(bool).sum(axis=0)
    if sum[0] != 0:
        print(sum)
        
#no missing data

In [20]:
XY_train_df.to_csv("XY_train.csv")

In [23]:
XY_train_df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1658    False
1659    False
1660    False
1661    False
1662    False
Length: 1663, dtype: bool

In [25]:
XY_train_df.duplicated().sum()
#31 duplicate rows found

31

In [28]:
XY_train_df = XY_train_df.drop_duplicates()

In [44]:
X_test_df.duplicated().sum()

0

In [43]:
X_test_df = X_test_df.drop_duplicates()

In [48]:
# Define the model
model = Sequential()
model.add(Dense(units=512, activation='relu', input_dim=X_train.shape[1]))
model.add(Dropout(0.2))
model.add(Dense(units=256, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(units=128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(units=45, activation='softmax'))

# Compile model
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# Train model
model.fit(X_train, y_train, validation_split=0.2, epochs=50, batch_size=64)

NameError: name 'y_train' is not defined